<!DOCTYPE html>
<html>
  <head>
    <title>Untitled1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application.html.erb', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.html.erb', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  backend
    <%= yield %>
  </body>
</html>
