<div class="well">
  <h2 class="page-header">Manage Users  <a href="new.html" class="btn btn-success">Add New</a></h2>
  <table class="table table-stripped">
    <tr>
      <th>Category Title</th>
      <th>Actions</th>
    </tr>


    <tr>
      <td>Category No 1</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    <tr>
      <td>Category No 2</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    <tr>
      <td>Category No 3</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
    <tr>
      <td>Post No 4</td>
      <td><a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
  </table>
</div>

      