body{
  font-family: 'Arial', sans-serif;
  background: #eee;
  line-height: 1.6em;

}


footer{
  background: #36424a;
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top: 30px;

}